[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bpython = "*"
autopep8 = "*"

[packages]
django = "*"
python-decouple = "*"
pandas = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[requires]
python_version = "3.8"
